@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
  background-color: rgb(3, 7, 18);
}

body {
  overscroll-behavior: none;
  background-color: rgb(3, 7, 18); 
}
